html {
  font-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 $small-spacing;
}

p {
  margin: 0 0 $small-spacing;
}

hr {
  background-color: transparent;
  border-bottom: .0625rem solid rgba(#080708,.5);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  color: transparent;
  margin: 1.5rem 0;
}
