@import "bourbon/bourbon.scss";
@import "base/base.scss";
@import "neat/neat.scss";

@import "partials/_variables.scss";
@import "partials/_mixins.scss";

@import "partials/_margins.scss";
@import "partials/_padding.scss";
@import "partials/_type.scss";
@import "partials/_borders.scss";

@import "partials/_grid.scss";

@import "partials/_comments.scss";

@import "partials/_tribe-events.scss";
@import "partials/_woocommerce.scss";

@import "flexinav/flexinav.scss";



//  multiline underline animation:
//  https://codepen.io/christiancroser/pen/xqrLBm
.site-title, .site-content, .site-footer {
    & p a, & blockquote a, & pre a, & span a,
    & dl a, & ul a , & ol a,
    & h1 a, & h2 a, & h3 a, & h4 a, & h5 a, & h6 a {
        background-image: linear-gradient($theme-primary calc(100% - .125rem), $link-underline-color $b-2);
        background-repeat: no-repeat;
        background-size: 0% 100%;
        transition: background-size 1s ease-in-out;

        &:hover {
            background-size: 100% 100%;
        }
    }
}

.article-title a,
.venue-title a {
    text-decoration: none;
}

.site-title, .site-content {
    & h1 a, & h2 a, & h3 a, & h4 a, & h5 a, & h6 a {
        color: $heading-link-color;

        &:hover {
            color: $heading-link-hover-color;
        }
    }
}

.site-footer {
    background-color: $theme-black;
    box-shadow: 0 -.125rem 1rem rgba($theme-black, .75);
}

.news-main {
    article {
        .article-posted ul {
            display: block;

            @include media-up($tiny-screen){
                display: flex;
                justify-content: flex-start;
            }

            @include media-up($large-screen) {
                display: block;
            }
        }
    }
}

.post-main {
    article {
        .article-posted ul {
            @include media-up($small-screen) {
                display: flex;
                justify-content: space-between;
            }

            li {
                display: block;
            }
        }
    }
}

.archive-main {
    article {
        &.article-has-img {
            .article-header-img {
                img {
                    height: $s-xxl * 6;
                    object-fit: cover;
                }
            }
        }

        .article-posted ul {
            @include media-up($small-screen) {
                display: flex;
                justify-content: flex-start;

                li {
                    display: block;
                }
            }
        }
    }
}

.search-main {
    article {
        &:before {
            content: "";
            display: table;
            table-layout: fixed;
        }

        &:after {
            clear: both;
            content: "";
            display: block;
        }

        .article-posted ul {
            display: flex;
            justify-content: flex-start;

            li {
                display: block;
            }
        }
    }
}

.page-header-img,
.article-header-img,
.venue-header-img {
    position: relative;

    .page-title,
    .article-title,
    .venue-title {
        background: transparent;
        bottom: auto;
        left: 0;
        padding-left: 0;
        padding-top: 0;
        position: relative;

        @include media-up($tiny-screen) {
            background: linear-gradient(
                to bottom,
                rgba($theme-black,0),
                rgba($theme-black,.625)
                );
            bottom: .5rem;
            left: 0;
            margin: 0;
            padding-top: $s-xxl;
            position: absolute;
            text-align: left;
            width: 100%;
        }

        h1,
        h2 {
            width: 100%;
        }
    }
}

.page-header.page-has-no-img {
    margin-top: $s-xxl;
    margin-bottom: $s-l;
}

.archive-main .article-title.oversized {
    background: transparent;
    bottom: auto;
    left: 0;
    padding-left: 0;
    padding-top: 0;
    position: relative;
}

@include media-up($medium-screen) {
    .news-main,
    .page-main,
    .post-main {
        .article-has-img .article-title {
            h1,
            h2 {
                width: 75%;
            }
        }
    }
}

@include media-up($tiny-screen) {
    .archive-main .article-has-img .article-title,
    .front-main .carousel-title,
    .news-main .article-has-img .article-title,
    .search-main .article-has-img .article-title {
        padding-left: $s-l;
    }
}

.archive-main .article-has-img .article-title.oversized,
.search-main .article-has-img .article-title.oversized {
    padding-left: 0;
}

.page-header.page-has-img {
    margin-bottom: 1rem;
}

.pages-nav {
    margin: $s-xxl 0;

    ul {
        display: inline;
        margin: 0;
        padding: 0;

        li {
            display: inline;
            margin: 0 $s-l;
            
            a,
            span {
                display: block;
                float: left;
                margin: 0 $s-xs;
                padding: $s-xs $s-s;
            }
        }
    }
}

.entry-content ul,
.article-content ul {
    margin-bottom: 1rem;
}

.site-footer h3 {
    margin-top: 1rem;

    &:first-child {
        margin-top: 0;
    }
}

@include media-down($small-screen) {
    figure.alignleft,
    img.alignleft,
    figure.alignright,
    img.alignright {
        float:none;
    }
}

.wp-caption {
    margin-bottom: .5rem;
}

.wp-caption .wp-caption-text {
    color: $text-color-medium;;
    @include light;
    font-size: .875rem;
    line-height: 1.25;
    margin: .75rem 0 0;
}

.fourohfour-search {
    @include clearfix;

    h2 {
        @include border-top(light);
    }
    
    .search-form {
        width: calc(100% - 1rem);

        @include media-up($medium-screen) {
            //width: 50%;
        }

        label {
            float: left;
            margin-right: .5rem;
        }

        input {
            @include regular;
            font-size: 1.5rem;
            line-height: 1.0625;
            padding: .5rem 1rem;
        }

        .search-field {
            border-color: $text-color-medium;
        }

        .search-submit {
            background-color: $theme-black;
            border: 0;
            color: $theme-yellow;
        }
    }
}

abbr {
    border-bottom: 0;
    text-decoration: none;
}

abbr[title] {
    border-bottom: .0625rem dotted $text-color-light;
}